<h1>Aggiungi Cliente</h1>
<form>
    <div class="mb-3">
      <label for="ragioneSociale" class="form-label">Ragione sociale</label>
      <input type="text" name="ragioneSociale" class="form-control" id="ragioneSociale">
    </div>
    <div class="mb-3">
        <label for="partitaIva" class="form-label">Partita Iva</label>
        <input type="text" name="partitaIva" class="form-control" id="partitaIva" >
      </div>
      <div class="mb-3">
        <label for="tipoCliente" class="form-label">Tipo cliente</label>
        <input type="text" name="tipoCliente" class="form-control" id="tipoCliente" >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" >
      </div>
      <div class="mb-3">
        <label for="pec" class="form-label">Pec</label>
        <input type="email" name="pec" class="form-control" id="pec" >
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" name="telefono" class="form-control" id="telefono" >
      </div>
      <div class="mb-3">
        <label for="nomeContatto" class="form-label">Nome Contatto</label>
        <input type="text" name="nomeContatto" class="form-control" id="nomeContatto" >
      </div>
      <div class="mb-3">
        <label for="cognomeContatto" class="form-label">Cognome Contatto</label>
        <input type="text" name="cognomeContatto" class="form-control" id="cognomeContatto" >
      </div>
      <div class="mb-3">
        <label for="telefonoContatto" class="form-label">Telefono Contatto</label>
        <input type="text" name="telefonoConattto" class="form-control" id="telefonoContatto" >
      </div>
      <div class="mb-3">
        <label for="emailContatto" class="form-label">Email Contatto</label>
        <input type="email" name="emailContatto" class="form-control" id="emailContatto" >
      </div>

      <!--Indirizzo sede operativa-->
      <div class="mb-3">
        <label for="indirizzoSedeOperativa" class="form-label">Indirizzo Sede Operativa</label>
        <input type="text" name="indirizzoSedeOperativa" class="form-control" id="indirizzoSedeOperativa" >
      </div>

      <div class="mb-3">
        <label for="via" class="form-label">Via</label>
        <input type="text" name="via" class="form-control" id="via" >
      </div>
      <div class="mb-3">
        <label for="civico" class="form-label">Civico</label>
        <input type="text" name="civico" class="form-control" id="civico" >
      </div>
      <div class="mb-3">
        <label for="cap" class="form-label">Cap</label>
        <input type="text" name="cap" class="form-control" id="cap" >
      </div>
      <div class="mb-3">
        <label for="localita" class="form-label">Località</label>
        <input type="text" name="localita" class="form-control" id="localita" >
      </div>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Comune</option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Provincia</option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>

      <!--indirizzo sede legale-->
      <div class="mb-3">
        <label for="via" class="form-label">Via</label>
        <input type="text" name="via" class="form-control" id="via" >
      </div>
      <div class="mb-3">
        <label for="civico" class="form-label">Civico</label>
        <input type="text" name="civico" class="form-control" id="civico" >
      </div>
      <div class="mb-3">
        <label for="cap" class="form-label">Cap</label>
        <input type="text" name="cap" class="form-control" id="cap" >
      </div>
      <div class="mb-3">
        <label for="localita" class="form-label">Località</label>
        <input type="text" name="localita" class="form-control" id="localita" >
      </div>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Comune</option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Provincia</option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>

      <!--Date e fatturato-->
      <div class="mb-3">
        <label for="fatturatoAnnuale" class="form-label">Fatturato Annuale</label>
        <input type="text" name="fatturatoAnnuale" class="form-control" id="fatturatoAnnuale" >
      </div>


    
    <button type="submit" class="btn btn-secondary bt-sm" >Save</button>
  </form>
