<div class="login">
    <h1>Login</h1>

<form>
    <div class="mb-3">
      <label for="username" class="form-label">Email</label>
      <input type="username" name="username" class="form-control" id="username" placeholder="Inserisci il tuo username" [(ngModel)]="login.username" >
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Inserisci la tua password" [(ngModel)]="login.password"  >
      </div>
    
    <button type="submit" class="btn btn-secondary bt-sm"(click)="loginUtente()" >Login</button>
  </form>
</div>
