<h3>Lista Clienti</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ragione sociale</th>
    <th scope="col">Email</th>
    <th scope="col">Partita Iva</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of clienti.content">
    <th scope="row"></th>
    <td>{{item.ragioneSociale}}</td>
    <td>{{item.email}}</td>
    <td>{{item.partitaIva}}</td>
    <td>
      <button type="button" class="btn btn-danger btn-sm" (click)="removeCliente(item)">Remove</button>
      <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="updateCliente(item)">Update</button>


    </td>
  </tr>
  </tbody>
</table>
